.divider1 {
	background-color: #40C4FF;
}

.divider2 {
	background-color: #fff;
}

.divider3 {
	background-color: #000;
}

.lesty {
	width: 200px;
	height: 50px;
	text-align: center;
	margin-top: 20px;
	color:#787878;
	border:1px solid red;
}

.region{
    background-color: #999;
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 10px;
}
.active{
    background-color:red;
}