<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="css/style.css">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
	<div id="app">
		{{ message1 }}
		{{ message2 }}

		<p>Меня зовут {{ name }} </p>
		<p>Фамилия моя {{ surname }} </p>
	</div>

	<div id="app2">
		{{ var1 + var2 }}
		{{ num * num }}
	</div>

	<div id="app3">
		{{ arr[0] }}
	    {{ arr[1] }}
	    {{ arr[2] }}
	</div>

	<div id="app4">
	{{ obj.a }}
	{{ obj.b }}
	{{ obj.c }}

	{{ obj['a'] }}
	{{ obj['b'] }}
	{{ obj['c'] }}
</div>

<div id="app5">
<li v-for="item in items">{{ item }}</li>
</div>

<div id="app6">
<ul v-for="item in arr">{{ item }}</ul>
</div>

<!-- Варианты циклов -->


<div id="app7">
	<ul>
		<li v-for="(item, index) in items">
	<!-- в item значения, в index ключи (индексы)
	обрати внимание начало массива 0
	-->		
		{{ item }} - {{ index }}
	    </li>
	</ul>
</div>

<div id="app8">
	<ul>
		<li v-for="(item, i) in array">
	<!-- в item значения, в index ключи (индексы)
	обрати внимание начало массива 0
	-->		
		{{ item }} - {{ i }}
	    </li>
	</ul>
</div>


<div id="app9">
	<ul>
		<li v-for="(item, i) in array">
	<!-- в item значения, в index ключи (индексы)
	обрати внимание начало массива 0
	-->		
		{{ item }} - {{ i+1 }}
	    </li>
	</ul>
</div>

<div id="app10">
	<ul>
		<li v-for="value in users">{{ value }}</li>
	</ul>
</div>


<div id="app11">
	<ul>
		<li v-for="(value, key) in users">
		{{ key }} - {{ value }}
	   </li>
	</ul>
</div>


<div id="app12">
	<ul>
		<li v-for="(value, key, index) in users">
<!-- 1- значение, 2 - ключ, 3 -индекс -->			
			{{ key }} - {{ value }} - {{ index }}
		</li>
	</ul>
</div>

<div id="app13">
	<ul>
		<li v-for="(value) in arr13">
		 {{ value }}
	   </li>
	</ul>
</div>

<div id="app14">
	<ul>
		<li v-for="(value, key) in arr14">
		 {{ key }} - {{ value }}
	   </li>
	</ul>
</div>

<div id="app15">
	<ul>
		<li v-for="(value, key, i) in arr15">
		 {{ key }} - {{ value }} - {{ i }}
	   </li>
	</ul>
</div>

<div id="app16">
	<ul>
		<li v-for="(value, key, i) in arr16">
		 {{ key }} - {{ value }} - {{ i+1 }}
	   </li>
	</ul>
</div>

<!-- Многомерные массивы и циклы -->

<div id="app17">
	<ul>
		<li v-for="user in users">
	<!-- точеченая нотация-->		
			{{ user.name }} - {{ user.salary }}
		</li>
	</ul>
</div>

<!-- Решение задачи 8  -->

<div id="app18">
	<ul>
		<li v-for="item in hrefs">
		<a href="{{ item.href }}">
		{{ item.text }}
	    </a>
			 
		</li>
	</ul>
</div>


<!-- Решение задачи 9  -->

<div id="app19">
	<ul>
		<li v-for="one in products">
{{ one.name }}, цена 
{{ one.price}}, 
количество {{ one.quantity}}, 
сумма {{ one.price * one.quantity}}
					 
		</li>
	</ul>
</div>

<!-- Директива v-for и тег template -->

<div id="app20">
	<ul>
		<template v-for="item in items">
			<li>{{ item }}</li>
			<li class="divider"></li>
		</template>
	</ul>
</div>

<!-- Решение задачи 10  -->

<div id="app21">
	<ul>
		<template v-for="item in items">
			<li class="divider1"></li>
			<li class="divider2">{{ item }}</li>
			<li class="divider3"></li>
		</template>
	</ul>
</div>


<!--  Работа с методами и событиями -->
<div id="amper">
	{{ show() }}
</div>

<div id="amper1">
		{{ show1() }}
</div>

<div id="amper2">
		{{ show2() }}
</div>

<div id="amper3">
	<button v-on:click="show">Нажми на меня</button>
</div>

<!-- Дана кнопка. В data дано свойство text, в котором хранится текст 'hello'. Сделайте так, чтобы по нажатию на кнопку алертом вывелся текст из свойства text. -->

<div id="possibility">
	<button v-on:click="show">
	Кнопка
    </button>
</div>

<div id="possibility1" class="lesty">
	<div v-on:mouseover="show">
	Кнопка наведение мыши
    </div>
</div>

<div id="possibility2">
	<button v-on:click="show">
	При нажатии на конопку
    </button>
</div>


<!-- Реактивность -->

<div id="pos">
	{{ message }}
	<button v-on:click="changeMessage">Поменять сообщение</button>
</div>

<!-- Дано свойство text, в котором хранится текст '12345'. Выведите содержимое свойства text в каком-нибудь абзаце. Дана также кнопка. Сделайте так, чтобы по нажатию на кнопку текст в нашем абзаце мгновенно поменялся с '12345' на 'abcde'.-->

<div id="pos1">
	{{ text }}
	<button v-on:click="changeText">Поменять </button>
</div>

<!-- Изменения массива на лету -->


<div id="most">

	<ul>
		<li v-for="item in items">
		{{ item }}
	   </li>
	</ul>
	<button v-on:click="addItem">Добавить</button>
</div>


<!-- 19092020-->

<!-- Дана кнопка. Дан массив. Выведите элементы этого массива в виде списка ul. Сделайте так, чтобы по нажатию на кнопку пункты списка стали в обратном порядке.-->

<div id="most2">

	<ul>
		<li v-for="item in items">
		{{ item }}
	   </li>
	</ul>
	<button v-on:click="addItem">Реверс</button>
	<button v-on:click="addItem2">Сортировка</button>
	<ul>
		<li v-for="itarr in result">
		{{ itarr }}
	   </li>
	</ul>
	<button v-on:click="addItem3">Увеличить массив</button>
</div>



<div id="most3">

	<ul>
		<li v-for="item in items">
		{{ item }}
	   </li>
	</ul>
	<button v-on:click="addItem">Добавить</button>
</div>



<div id="app217">
	<p>Имя: {{ name }}, возраст: {{ age }} </p>
	<button v-on:click="changeUser">Изменить юзера</button>
</div>

<div id="app44">
	<button v-on:click="showMessage('привет')">Поприветствовать</button>
	<button v-on:click="showMessage('пока')">Попрощаться</button>
</div>

<div id="app45">
	<input v-model="message">
	<p>Введенное сообщение: {{ message }}</p>
</div>

<div id="app46">
	<p>Результат: {{ result2 }}</p>
	<input v-model="num">
	<button v-on:click="calc">Посчитать</button>
</div>

<div id="app47">
	<input v-model="newItem">
	<button v-on:click="addItem">Добавить</button>
	<ul>
		<li v-for="item in items">{{ item }}</li>
	</ul>
</div>


<div id="app48">
	<p v-bind:class="str">Абзац</p>
</div>

<div id="app49">
	<p>Результат: {{ result }}</p>
	<input v-model="num">
	<button v-on:click="calc">Посчитать</button>
</div>

<div id="app51">
	<p>Результат: {{ str.toUpperCase() }}</p>
	<input v-model="str">
</div>

<div id="app52">
	<p>Результат: {{ reverseStr(str) }}</p>
	<input v-model="str">
</div>

	<script src="js/main.js"></script> 
</body>
</html>