<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="css/style.css">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
	<div id="app">
		{{ message1 }}
		{{ message2 }}

		<p>Меня зовут {{ name }} </p>
		<p>Фамилия моя {{ surname }} </p>
	</div>

	<div id="app2">
		{{ var1 + var2 }}
		{{ num * num }}
	</div>

	<div id="app3">
		{{ arr[0] }}
	    {{ arr[1] }}
	    {{ arr[2] }}
	</div>

	<div id="app4">
	{{ obj.a }}
	{{ obj.b }}
	{{ obj.c }}

	{{ obj['a'] }}
	{{ obj['b'] }}
	{{ obj['c'] }}
</div>

<div id="app5">
<li v-for="item in items">{{ item }}</li>
</div>

<div id="app6">
<ul v-for="item in arr">{{ item }}</ul>
</div>

<!-- Варианты циклов -->


<div id="app7">
	<ul>
		<li v-for="(item, index) in items">
	<!-- в item значения, в index ключи (индексы)
	обрати внимание начало массива 0
	-->		
		{{ item }} - {{ index }}
	    </li>
	</ul>
</div>

<div id="app8">
	<ul>
		<li v-for="(item, i) in array">
	<!-- в item значения, в index ключи (индексы)
	обрати внимание начало массива 0
	-->		
		{{ item }} - {{ i }}
	    </li>
	</ul>
</div>


<div id="app9">
	<ul>
		<li v-for="(item, i) in array">
	<!-- в item значения, в index ключи (индексы)
	обрати внимание начало массива 0
	-->		
		{{ item }} - {{ i+1 }}
	    </li>
	</ul>
</div>

<div id="app10">
	<ul>
		<li v-for="value in users">{{ value }}</li>
	</ul>
</div>


<div id="app11">
	<ul>
		<li v-for="(value, key) in users">
		{{ key }} - {{ value }}
	   </li>
	</ul>
</div>


<div id="app12">
	<ul>
		<li v-for="(value, key, index) in users">
<!-- 1- значение, 2 - ключ, 3 -индекс -->			
			{{ key }} - {{ value }} - {{ index }}
		</li>
	</ul>
</div>

<div id="app13">
	<ul>
		<li v-for="(value) in arr13">
		 {{ value }}
	   </li>
	</ul>
</div>

<div id="app14">
	<ul>
		<li v-for="(value, key) in arr14">
		 {{ key }} - {{ value }}
	   </li>
	</ul>
</div>

<div id="app15">
	<ul>
		<li v-for="(value, key, i) in arr15">
		 {{ key }} - {{ value }} - {{ i }}
	   </li>
	</ul>
</div>

<div id="app16">
	<ul>
		<li v-for="(value, key, i) in arr16">
		 {{ key }} - {{ value }} - {{ i+1 }}
	   </li>
	</ul>
</div>

<!-- Многомерные массивы и циклы -->

<div id="app17">
	<ul>
		<li v-for="user in users">
	<!-- точеченая нотация-->		
			{{ user.name }} - {{ user.salary }}
		</li>
	</ul>
</div>




	<script src="js/main.js"></script> 
</body>
</html>